@charset "utf-8";
*{
	margin:0;
	padding:0;
}
body{
	margin:0;
}
/*
各パートにパディング、背景、テキスト色などを指定する
<div class="container">の子要素に指定する
*/
.hamburger{
	border: none;
	width: 50px;
	height: 50px;
	background: url(hamburger.png) no-repeat;
	background-size: contain;
}
/*ナビゲーション*/
ul{
	padding:10px;
}
ul li{
	list-style:none;
}
.tool{
	position:relative;
	top:10px;

}
.tool li{
	display: block;
	margin-bottom:20px;
}
.subject{
	margin-bottom:10px;
}
.navbar{
	display: none;
	margin: 0;
	padding: 0;
	list-style: none;
	background: #565656;
}
.navbar li a{
	display:block;
	padding: 10px 8px;
	color: #fff;
	text-decoration: none;
}
.navbar li a:hover{
	background: #fff;
	color: #565656;
}
.container{
	margin: 0 auto 0 auto;
	max-width: 1000px;
}
section .container{
	display: flex;
	flex-flow: column;
}
.header-inner{
	background: #fff;
	padding: 10px 0 10px 0;
}
.nav-inner{
	padding: 10px 10px 0 10px;
	color: #fff;
	background: #fff;
}
	
	/*
	レイアウトのイメージをしやすいように高さを設定。
	通常のWebデザインはレイアウトで高さを指定しない
	*/

main{
	padding: 20px 10px 20px 10px;
	height: 400px;
}
.sidebar{
	padding:20px 10px 20px 10px;
	max-width: 200px;
	/*margin-left:10px;*/	
}
.footer-inner{
	padding: 20px 16px 10px 16px;
}
/*分かりやすくするために適用してるCSS*/
@media only screen and (min-width: 768px){
	/*ナビゲーション*/
	.humburger{
		display: none;
	}
	.navbar{
		display: flex !important;
	}
	section .container{
		flex-flow: row;
	}
	main{
		flex: 1 1 auto;
		order: 2;
	}
	/*
	.sidebar1{
		flex: 0 0 200px;
		order: 1; /*orderで並び順を設定
	}
	.sidebar2{
		flex: 0 0 250px;
		order: 3;orderで並び順を設定s
	}
	*/
	footer .container{
		padding-top:20px;
	}
}




